<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'create_enquete_enqueteur' %}"><h2>Créer une enquête</h2></a>
    <table border="1">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Creation Date</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        {% for enquete in all_enquete %}
        <tr>
            <td>{{ enquete.code }}</td>
            <td>{{ enquete.name }}</td>
            <td>{{ enquete.description }}</td>
            <td>{{ enquete.status }}</td>
            <td>{{ enquete.creation_date }}</td>
            <td>{{ enquete.start_date }}</td>
            <td>{{ enquete.end_date }}</td>
            <td><a href="{% url 'view_enquete_enqueteur' enquete.id %}"><button>View</button></a></td>
            <td><a href="{% url 'update_enquete_enqueteur' enquete.id %}"><button>Edit</button></a></td>
            <td><a href="{% url 'delete_enquete_enqueteur' enquete.id %}"><button>Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>