<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participants Answers</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Email</th>
            <th>View this participant answers</th>
        </tr>
        {% for enqueteResponse in enqueteResponses %}
        <tr>
            <td>{{ enqueteResponse.email }}</td>
            <td><a href="{% url 'view_answer_participants_enqueteur' enqueteResponse.id %}"><button>View</button></a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>