<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {% for question in all_questions %}
        <!-- DOn't forget, you will transfrom these datas like a django form submission request.POST['name'] and then send respective datas to the responseSelection view
         PLS don't forget this Meva when you sleep, also don't forget to pray cause is there anything too hard for the Lord
         See you tomorrow 
         the idea was kinda smart right?-->
        <p name="">{{ question.question }}</p>
                {% for r in question.reponseSelection.all %}
                <input type="checkbox" name="options" value="{{ r.id }}">
                <label for="{{ r.id }}">{{ r.reponse }}</label>
                {% endfor %}
        {% endfor %}
        <br>
        <label for="email">Please enter you email adress to validate the survey</label>
        <input type="email" name="email" id="">
            <button>Submit</button>
        </a>
    </form>
</body>
</html>